# Ignore the sessions folder
sessions/

# Ignore the .env file
.env

# Ignore the node_modules folder
node_modules/

# Ignore the session_user_agents.json file
session_user_agents.json

simulate_device.json

# Ignore the Push.bat
Push.bat

cache/
tmp/